#mySidebar.sidebar
  %a.closebtn{:href => "javascript:void(0)", :onclick => "closeNav()"} ×
  %a{:class => is_active?(root_path), :href => root_path} Home
  %a{:class => is_active?(products_path), :href => products_path} Products
  %a{:class => is_active?(orders_path), :href => orders_path} Orders
  %a{:class => is_active?(users_path), :href => users_path} Users
  %a{:class => is_active?(about_about_path), :href => about_about_path} About

#main
  %button.openbtn{:onclick => "openNav()"} ☰ Menu

#myNavbar.topnav
  %a{:class => is_active?(root_path), :href => root_path} Home
  %a{:class => is_active?(products_path), :href => products_path} Products
  %a{:class => is_active?(orders_path), :href => orders_path} Orders
  %a{:class => is_active?(users_path), :href => users_path} Users
  %a{:class => is_active?(about_about_path), :href => about_about_path} About
  %a.icon{:href => "javascript:void(0);", :onclick => "myFunction()"}
    %i.fa.fa-bars
