%h3 Chess Central Order Confirmation
%p
  This is just to let you know that we've recieved your recent order:
%table
  %tr
    %th{:colspan => "2"} Qty
    %th Description
  = render @order.line_items
